@model List<OrderViewModel>


    @{
    Layout = "_AdminVentasLayout";
    string lang = User.FindFirst("Lang")?.Value ?? "es";
    }

    <div class="filtrosContenedor">

        <form method="get" asp-controller="AdminVentas" asp-action="OrderManagement" class="FILTER">

            <div class="group">
                <label for="columna"><h4>@(lang == "es" ? "Columna:" : "Column:")</h4></label>

                <select id="columna" name="columna">
                    <option value="idPedido" selected="@(ViewBag.Columna == "idPedido" ? "selected" : null)">
                        @(lang == "es" ? "ID Pedido" : "Order ID")
                    </option>
                    <option value="nombreCliente" selected="@(ViewBag.Columna == "nombreCliente" ? "selected" : null)">
                        @(lang == "es" ? "Nombre cliente" : "Client Name")
                    </option>
                    <option value="peso" selected="@(ViewBag.Columna == "peso" ? "selected" : null)">
                        @(lang == "es" ? "Peso" : "Weight")
                    </option>
                    <option value="fechaCreacion" selected="@(ViewBag.Columna == "fechaCreacion" ? "selected" : null)">
                        @(lang == "es" ? "Fecha Creacion" : "Date creation")
                    </option>
                    <option value="fechaDespacho" selected="@(ViewBag.Columna == "fechaDespacho" ? "selected" : null)">
                        @(lang == "es" ? "Fecha Despacho" : "Delivery date")
                    </option>
                    <option value="estadoPedido" selected="@(ViewBag.Columna == "estadoPedido" ? "selected" : null)">
                        @(lang == "es" ? "Estado" : "State")
                    </option>
                    <option value="direccion" selected="@(ViewBag.Columna == "direccion" ? "selected" : null)">
                        @(lang == "es" ? "Direccion" : "Adress")
                    </option>
                </select>
            </div>

            <div class="group">

                <label for="orden"><h4>@(lang == "es" ? "Orden:" : "Order:")</h4></label>
                <select id="orden" name="orden">
                    <option value="asc" selected="@(ViewBag.Orden == "asc" ? "selected" : null)">
                        @(lang == "es" ? "Ascendente" : "Ascending")
                    </option>
                    <option value="desc" selected="@(ViewBag.Orden == "desc" ? "selected" : null)">
                        @(lang == "es" ? "Descendente" : "Descending")
                    </option>
                </select>
            </div>

            <div class="group">
                <label for="nombreCliente"><h4>@(lang == "es" ? "Nombre cliente:" : "Client name:")</h4></label>
                <input type="text" id="IdPnombreClienteedido" name="nombreCliente" class="form-control" value="@ViewBag.NombreCliente" />
            </div>

            <div class="group-btn">
                <button class="btn filtros" type="submit">@(lang == "es" ? "🔍 Aplicar filtros" : "🔍 Apply Filters")</button>


                <a asp-controller="AdminVentas" asp-action="CreateOrder" class="btn agregar">
                    @(lang == "es" ? "➕ Agregar pedido" : "➕ Add order")
                </a>

                <a class="btn exportar" asp-controller="AdminVentas" asp-action="ExportarPedidosPdf" asp-route-columna="@ViewBag.Columna" asp-route-orden="@ViewBag.Orden" asp-route-nombreCliente="@ViewBag.NombreCliente">
                    @(lang == "es" ? "📄 Exportar a pdf" : "📄 Export to PDF")
                </a>
            </div>

        </form>


       
    </div>


    <table>
        <thead>

            <tr>
                <th>@(lang == "es" ? "Id pedido" : "Order ID")</th>
                <th>@(lang == "es" ? "Nombre cliente" : "Client name")</th>
                <th>@(lang == "es" ? "Peso (gr)" : "Weight (gr)")</th>
                <th>@(lang == "es" ? "Fecha creacion" : "Creation Date")</th>
                <th>@(lang == "es" ? "Fecha despacho" : "Delivery Date")</th>
                <th>@(lang == "es" ? "Estado" : "Status")</th>
                <th>@(lang == "es" ? "Direccion" : "Adress")</th>
                <th>@(lang == "es" ? "Editar" : "Edit")</th>

            </tr>
        </thead>

        <tbody>


            @foreach (var pedido in Model)
{
            <tr>
                <td><span class="id-badge">@pedido.IdPedido</span></td>
                <td><span class="patent-code">@pedido.NombreCliente</span></td>
                <td><span class="numeric-value">@pedido.Peso</span></td>
                <td><span class="date-value">@pedido.FechaCreacion</span></td>
                <td><span class="date-value">@(pedido.FechaDespacho?.ToString("dd/MM/yyyy") ?? "-")</span></td>
                <td>
                    <span class="route-status @(
    pedido.EstadoPedido == "Pendiente" ? "status-pending" :
    pedido.EstadoPedido == "Programado" ? "status-programado" :
    pedido.EstadoPedido == "Reprogramado" ? "status-reprogramado" :
    pedido.EstadoPedido == "En camino" ? "status-en-camino-pedido" :
    pedido.EstadoPedido == "Fallido" ? "status-fallido" :
    pedido.EstadoPedido == "Entregado" ? "status-entregado" :
    "status-pending")">
                        @pedido.EstadoPedido
                    </span>
                </td>
                <td>@pedido.Direccion</td>

                <td>

                    <div class="actions-cell">
                        <a asp-controller="AdminVentas" asp-action="EditOrder" asp-route-idPedido="@pedido.IdPedido">
                                ✏️
                        </a>
                        <a asp-controller="AdminVentas" asp-action="DeleteOrder" asp-route-idPedido="@pedido.IdPedido">
                                🗑️
                        </a>

                    </div>
                </td>
            </tr>
}

        </tbody>

    </table>
