@{
    Layout = "_AdminVentasLayout";
    string lang = User.FindFirst("Lang")?.Value ?? "es";
}

<div class="filtrosContenedor">
    <div class="contenedor-info">
        <label for="filtroColumna"><h3>@(lang == "es" ? "Columna:" : "Column:")</h3></label>
        <select id="filtroColumna">
            <option value="id_usuario" selected>@(lang == "es" ? "ID Pedido" : "Order ID")</option>
            <option value="rol">@(lang == "es" ? "Fecha de ingreso" : "Entry Date")</option>
            <option value="fecha_alta">@(lang == "es" ? "Fecha estimada envio" : "Estimated Shipping Date")</option>
            <option value="ultimo_acceso">@(lang == "es" ? "Estado" : "Status")</option>
        </select>

        <label for="ordenUsuario"><h3>@(lang == "es" ? "Orden:" : "Order:")</h3></label>
        <select id="ordenUsuario">
            <option value="asc" selected>@(lang == "es" ? "Ascendente" : "Ascending")</option>
            <option value="desc">@(lang == "es" ? "Descendente" : "Descending")</option>
        </select>
    </div>

    <a href="">
        <h3>@(lang == "es" ? "Buscar pedido" : "Search Order")</h3>
    </a>

    <a href="">
        <h3>@(lang == "es" ? "Exportar a pdf" : "Export to PDF")</h3>
    </a>
</div>


<table>
    <tr>
        <th>@(lang == "es" ? "Id pedido" : "Order ID")</th>
        <th>@(lang == "es" ? "Fecha de ingreso" : "Entry Date")</th>
        <th>@(lang == "es" ? "Fecha Estimada envio" : "Estimated Shipping Date")</th>
        <th>@(lang == "es" ? "Estado" : "Status")</th>
        <th>@(lang == "es" ? "Editar" : "Edit")</th>

    </tr>

    <tr>
        <td>lautigomi</td>
        <td>Admin logistico</td>
        <td>18/05/2024</td>
        <td>20/08/2025</td>
    </tr>

    <tr>
        <td>lautigomi</td>
        <td>Admin logistico</td>
        <td>18/05/2024</td>
        <td>20/08/2025</td>
    </tr>

    <tr>
        <td>lautigomi</td>
        <td>Admin logistico</td>
        <td>18/05/2024</td>
        <td>20/08/2025</td>
    </tr>

    <tr>
        <td>lautigomi</td>
        <td>Admin logistico</td>
        <td>18/05/2024</td>
        <td>20/08/2025</td>
    </tr>

    <tr>
        <td>lautigomi</td>
        <td>Admin logistico</td>
        <td>18/05/2024</td>
        <td>20/08/2025</td>
    </tr>

    <tr>
        <td>lautigomi</td>
        <td>Admin logistico</td>
        <td>18/05/2024</td>
        <td>20/08/2025</td>
    </tr>

    <tr>
        <td>lautigomi</td>
        <td>Admin logistico</td>
        <td>18/05/2024</td>
        <td>20/08/2025</td>
    </tr>
</table>
