@{
    Layout = "_AdminLogisticoLayout";
    string lang = User.FindFirst("Lang")?.Value ?? "es";
}

<form asp-action="DeleteRoute" asp-controller="AdminLogistico" method="post" class="CRUD">
    <h3>@(lang == "es" ? "Cancelar ruta" : "Cancel Route")</h3>
    @Html.AntiForgeryToken()

    @if (TempData["ErrorMessageDeleteRoute"] != null)
   {
    <div class="alert alert-danger">
        <p class="error">@TempData["ErrorMessageDeleteRoute"]</p>
    </div>
   }

    @if (TempData["SuccessDeleteMessage"] != null)
{
    <div class="alert alert-danger">
        <p class="exito">@TempData["SuccessDeleteMessage"]</p>
    </div>
   }

    <input type="hidden" value="@ViewBag.idRuta" name="patente" />

    <div class="row">
        <label for="eleccion">
            @(lang == "es"
                ? "Desea cancelar la ruta con id: " + ViewBag.idRuta
                : "You wish to cancel route with id : " + ViewBag.idRuta)
        </label>

        <select name="eleccion">
            <option value="si">Si</option>
            <option value="no">No</option>
        </select>
    </div>

    <button type="submit" class="btn-principal">@((lang == "es") ? "Confirmar cambios" : "Confirm Changes")</button>
    <a class="restablecer" asp-controller="AdminLogistico" asp-action="RouteManagement">@((lang == "es") ? "Volver" : "Back")</a>



</form>
