@{
    Layout = "_AdminLayout";
    string lang = User.FindFirst("Lang")?.Value ?? "es";
}

<form asp-action="DeleteClient" asp-controller="AdminVentas" method="post" class="CRUD">
    <h3>@(lang == "es" ? "Eliminar cliente" : "Delet Client")</h3>
    @Html.AntiForgeryToken()

    @if (TempData["ErrorMessageDeleteClient"] != null)
   {
    <div class="alert alert-danger">
        <p class="error">@TempData["ErrorMessageDeleteClient"]</p>
    </div>
   }

    @if (TempData["SuccessDeleteMessage"] != null)
{
    <div class="alert alert-danger">
        <p class="exito">@TempData["SuccessDeleteMessage"]</p>
    </div>
   }

    <input type="hidden" value="@ViewBag.idCliente" name="idCliente"/>

    <div class="row">
        <label for="eleccion">
            @(lang == "es"
                ? "Desea eliminar el cliente " + ViewBag.idCliente
                : "You wish to delete client" + ViewBag.idCliente)
        </label>

        <select name="eleccion">
            <option value="si">Si</option>
            <option value="no">No</option>
        </select>
    </div>

    <button type="submit" class="btn-principal">@((lang == "es") ? "Confirmar cambios" : "Confirm Changes")</button>
    <a class="restablecer" asp-controller="AdminVentas" asp-action="ClientManagement">@((lang == "es") ? "Volver" : "Back")</a>



</form>
