@model List<OrderViewModel>


    @{
    Layout = "_AdminLogisticoLayout";
    string lang = User.FindFirst("Lang")?.Value ?? "es";
    }

    <div class="filtrosContenedor">

        <form method="get" asp-controller="AdminLogistico" asp-action="OrderManagement" class="FILTER">

            <div class="contenedor-info">
                <label for="columna"><h4>@(lang == "es" ? "Columna:" : "Column:")</h4></label>

                <select id="columna" name="columna">
                    <option value="idPedido" selected="@(ViewBag.Columna == "id" ? "selected" : null)">
                        @(lang == "es" ? "ID Pedido" : "Order ID")
                    </option>
                    <option value="idCliente" selected="@(ViewBag.Columna == "nombre" ? "selected" : null)">
                        @(lang == "es" ? "ID Cliente" : "Client ID")
                    </option>
                    <option value="peso" selected="@(ViewBag.Columna == "apellido" ? "selected" : null)">
                        @(lang == "es" ? "Peso" : "Weight")
                    </option>
                    <option value="fechaCreacion" selected="@(ViewBag.Columna == "fechaCreacion" ? "selected" : null)">
                        @(lang == "es" ? "Fecha Creacion" : "Date creation")
                    </option>
                    <option value="fechaDespacho" selected="@(ViewBag.Columna == "domicilioLegal" ? "selected" : null)">
                        @(lang == "es" ? "Fecha Despacho" : "Delivery date")
                    </option>
                    <option value="estadoPedido" selected="@(ViewBag.Columna == "domicilioLegal" ? "selected" : null)">
                        @(lang == "es" ? "Estado" : "State")
                    </option>
                    <option value="direccion" selected="@(ViewBag.Columna == "domicilioLegal" ? "selected" : null)">
                        @(lang == "es" ? "Direccion" : "Adress")
                    </option>
                </select>

                <label for="orden"><h4>@(lang == "es" ? "Orden:" : "Order:")</h4></label>
                <select id="orden" name="orden">
                    <option value="asc" selected="@(ViewBag.Orden == "asc" ? "selected" : null)">
                        @(lang == "es" ? "Ascendente" : "Ascending")
                    </option>
                    <option value="desc" selected="@(ViewBag.Orden == "desc" ? "selected" : null)">
                        @(lang == "es" ? "Descendente" : "Descending")
                    </option>
                </select>
            </div>

            <button class="btn-principal filtros" type="submit">@(lang == "es" ? "Aplicar filtros" : "Apply Filters")</button>

        </form>

        <a asp-controller="AdminLogistico" asp-action="SearchOrder" class="btn-principal filtros">
            @(lang == "es" ? "Buscar pedido" : "Search order")
        </a>

        

        <a asp-controller="AdminLogistico" asp-action="ExportarPedidosPdf" asp-route-columna="@ViewBag.Columna" asp-route-orden="@ViewBag.Orden" class="btn-principal filtros">
            @(lang == "es" ? "Exportar a pdf" : "Export to PDF")
        </a>
    </div>


    <table>
        <tr>
            <th>@(lang == "es" ? "Id pedido" : "Order ID")</th>
            <th>@(lang == "es" ? "Id cliente" : "Client ID")</th>
            <th>@(lang == "es" ? "Peso" : "Weight")</th>
            <th>@(lang == "es" ? "Fecha creacion" : "Creation Date")</th>
            <th>@(lang == "es" ? "Fecha despacho" : "Delivery Date")</th>
            <th>@(lang == "es" ? "Estado" : "Status")</th>
            <th>@(lang == "es" ? "Direccion" : "Adress")</th>

        </tr>

        @foreach (var pedido in Model)
{
        <tr>
            <td>@pedido.IdPedido</td>
            <td>@pedido.IdCliente</td>
            <td>@pedido.Peso</td>
            <td>@pedido.FechaCreacion</td>
            <td>@pedido.FechaDespacho</td>
            <td>@pedido.EstadoPedido</td>
            <td>@pedido.Direccion</td>
        </tr>
}
    </table>
