@{
    Layout = "_AdminLayout";
    string lang = User.FindFirst("Lang")?.Value ?? "es";
}

<form asp-action="DeleteUser" asp-controller="AdminGeneral" method="post" class="CRUD">
    <h3>@(lang == "es" ? "Eliminar usuario" : "Delet User")</h3>
    @Html.AntiForgeryToken()

    @if (TempData["ErrorMessageDeleteUser"] != null)
   {
    <div class="alert alert-danger">
        <p class="error">@TempData["ErrorMessageDeleteUser"]</p>
    </div>
   }

    @if (TempData["SuccessDeleteMessage"] != null)
{
    <div class="alert alert-danger">
        <p class="exito">@TempData["SuccessDeleteMessage"]</p>
    </div>
   }

    <input type="hidden" value="ViewBag.Usuario" name="usuario" />

    <div class="row">
        <label for="eleccion">
            @(lang == "es"
                ? "Desea eliminar el usuario " + ViewBag.Usuario
                : "You wish to delete user " + ViewBag.Usuario)
        </label>

        <select name="eleccion">
            <option value="si">Si</option>
            <option value="no">No</option>
        </select>
    </div>

    <button type="submit" class="btn-principal">@((lang == "es") ? "Confirmar cambios" : "Confirm Changes")</button>
    <a class="restablecer" asp-controller="AdminGeneral" asp-action="UserManagement">@((lang == "es") ? "Volver" : "Back")</a>



</form>
