@model List<UsuarioViewModel>

    @{
    Layout = "_AdminLayout";
    string lang = User.FindFirst("Lang")?.Value ?? "es";
    }

    <div class="filtrosContenedor">

        <form method="get" asp-controller="AdminGeneral" asp-action="UserManagement" class="FILTER">
            <div class="group">
                <label for="columna"><h4>@(lang == "es" ? "Columna:" : "Column:")</h4></label>
                <select id="columna" name="columna">
                    <option value="usuario" selected="@(ViewBag.Columna == "usuario" ? "selected" : null)">
                        @(lang == "es" ? "Usuario" : "User")
                    </option>
                    <option value="nombre" selected="@(ViewBag.Columna == "nombre" ? "selected" : null)">
                        @(lang == "es" ? "Rol" : "Role")
                    </option>
                    <option value="fechaCreacion" selected="@(ViewBag.Columna == "fechaCreacion" ? "selected" : null)">
                        @(lang == "es" ? "Fecha Alta" : "Creation Date")
                    </option>
                    <option value="fechaUltimoLogin" selected="@(ViewBag.Columna == "fechaUltimoLogin" ? "selected" : null)">
                        @(lang == "es" ? "Último Acceso" : "Last Login")
                    </option>
                    <option value="fechaUltimoIntentoFallido" selected="@(ViewBag.Columna == "fechaUltimoIntentoFallido" ? "selected" : null)">
                        @(lang == "es" ? "Último Acceso fallido" : "Last Failed Login")
                    </option>
                </select>
            </div>

            <div class="group">


                <label for="orden"><h4>@(lang == "es" ? "Orden:" : "Order:")</h4></label>
                <select id="orden" name="orden">
                    <option value="asc" selected="@(ViewBag.Orden == "asc" ? "selected" : null)">
                        @(lang == "es" ? "Ascendente" : "Ascending")
                    </option>
                    <option value="desc" selected="@(ViewBag.Orden == "desc" ? "selected" : null)">
                        @(lang == "es" ? "Descendente" : "Descending")
                    </option>
                </select>

            </div>

            <div class="group">

                <label for="usuario"><h4>@(lang == "es" ? "Buscar usuario:" : "Search username:")</h4></label>
                <input type="text" id="usuario" name="usuario" class="form-control" value="@ViewBag.Usuario" />
            </div>

            <div class="group-btn">
                <button class="btn filtros" type="submit">@(lang == "es" ? "🔍 Aplicar filtros" : "🔍 Apply Filters")</button>


                <a asp-controller="AdminGeneral" asp-action="CreateUser" class="btn agregar">
                    @(lang == "es" ? "➕ Agregar usuario" : "➕ Add User")
                </a>

                <a asp-controller="AdminGeneral" asp-action="ExportarUsuariosPdf" asp-route-columna="@ViewBag.Columna" asp-route-orden="@ViewBag.Orden" asp-route-usuario="@ViewBag.Usuario" class="btn exportar">
                    @(lang == "es" ? "📄 Exportar a pdf" : "📄 Export to PDF")
                </a>
            </div>

        </form>

    </div>

    <table>
        <thead>

            <tr>
                <th>@(lang == "es" ? "Usuario" : "User")</th>
                <th>@(lang == "es" ? "Rol" : "Role")</th>
                <th>@(lang == "es" ? "Fecha alta" : "Creation Date")</th>
                <th>@(lang == "es" ? "Fecha último acceso" : "Last Login")</th>
                <th>@(lang == "es" ? "Fecha ult. acceso fallido" : "Last Failed Login")</th>
                <th>@(lang == "es" ? "Acciones" : "Actions")</th>
            </tr>
        </thead>

        <tbody>


            @foreach (var usuario in Model)
    {
            <tr>
                <td><span class="patent-code">@usuario.Usuario</span></td>
                <td><span class="patent-code">@usuario.Rol</span></td>
                <td><span class="date-value">@usuario.FechaAlta.ToString("dd/MM/yyyy")</span></td>
                <td><span class="date-value">@(usuario.FechaUltimoAcceso.HasValue ? usuario.FechaUltimoAcceso.Value.ToString("dd/MM/yyyy HH:mm") : "-")</span></td>
                <td><span class="date-value">@(usuario.FechaUltimoAccesoFallido.HasValue ? usuario.FechaUltimoAccesoFallido.Value.ToString("dd/MM/yyyy HH:mm") : "-")</span></td>
                <td>
                    <div class="actions-cell">
                        <a asp-controller="AdminGeneral" asp-action="EditUser" asp-route-username="@usuario.Usuario" class="action-btn edit-btn">
                            ✏️
                        </a>

                        <a asp-controller="AdminGeneral" asp-action="DeleteUser" asp-route-username="@usuario.Usuario" class="action-btn delete-btn">
                            🗑️
                        </a>
                    </div>

                </td>
            </tr>
    }

        </tbody>

    </table>

